<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nhom1.project3.socialnetwork">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WelcomeSlide.IntroActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="e4e002a5655a2baeb205de401156d5f03bce1896"
            />
        <activity
            android:name=".Home.MainActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".LoginReg.LoginActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ForgotPassword.ForgotPassActivity"
            android:parentActivityName=".LoginReg.LoginActivity" />
        <activity
            android:name=".LoginReg.RegisterActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".About.AboutAppActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".Home.MainActivity" />
        <activity
            android:name=".ProfileSetting.SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".Home.MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".ProfileSetting.StatusUpdateActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".ProfileSetting.SettingsActivity" />
        <activity
            android:name=".Friends.FriendsActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".Home.MainActivity" />
        <activity
            android:name=".Profile.ProfileActivity"
            android:configChanges="orientation|screenSize|screenLayout">
            <intent-filter>
                <action android:name="nhom1.project3.socialnetwork.TARGET_NOTIFICATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Chat.ChatActivity"
            android:parentActivityName=".Home.MainActivity" />
        <activity
            android:name=".Search.SearchActivity"
            android:configChanges="orientation|screenSize" />

        <!-- Cropping image library -->
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />

        <!-- Firebase Messaging Service -->

        <service android:name=".Utils.FirebaseMessagingService"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
        See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

    </application>
</manifest>